<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.barber">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".core.BarberApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.preauth.activities.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
                android:name=".ui.preauth.activities.LandingActivity"
                android:screenOrientation="portrait"

                android:windowSoftInputMode="stateHidden" />-->
        <activity
            android:name=".ui.preauth.activities.LoginSignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".ui.preauth.authrise.AuthanticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.postauth.activities.VerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.postauth.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.postauth.activities.UpdateDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.preauth.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.preauth.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.preauth.activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.SpecialiseActivity"
            android:screenOrientation="portrait" />
        <!--<activity
                android:name=".ui.postauth.activities.basic.WelcomeActivity"
                android:screenOrientation="portrait" />-->
        <activity
            android:name=".ui.postauth.activities.basic.AddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.CalloutOpeningHoursActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.postauth.activities.basic.AddServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.TimeSelectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.preauth.activities.AddMobileNumberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.preauth.activities.VerifyMobileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.SearchAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.barber.AddressSelectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.ServiceListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.basic.AddWorkspacePhotos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--<activity
                android:name=".ui.postauth.activities.basic.PaymentTypeActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />-->
        <activity
            android:name=".ui.postauth.activities.home.ProfileScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.home.MyStyleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.home.ReviewsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.home.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.home.SupportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.barber.BarberDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.home.AccountDetailScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.home.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />
        <activity
            android:name=".ui.postauth.activities.settings.ShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.BrowserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.home.AddressScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.barber.AppointmentDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.PaymentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.PaymentDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.postauth.activities.barber.BookAppointmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.barber.booking.ConfirmBookingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.barber.booking.PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.barber.booking.BookingStatusActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.chat.ChatWorkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.barber.EditReviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.home.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.barber.ratesettings.RateBarberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.postauth.activities.settings.InviteBarberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.postauth.activities.settings.NotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <!--Crop activity -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />


        <!--Image provider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <!--FIREBASE MESSAGING-->
        <service
            android:name=".net.firebase.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name=".net.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--
                 The API key for Google Maps-based APIs is defined as a string resource.
                 (See the file "res/values/google_maps_api.xml").
                 Note that the API key is linked to the encryption key used to sign the APK.
                 You need a different API key for each encryption key, including the release key that is used to
                 sign the APK for publishing.
                 You can define the keys for the debug and release targets in src/debug/ and src/release/.
            -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!--<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQWlghQN1EZ12_W1DsTFRPspNVNfEvD0c" />-->

    </application>

</manifest>
